<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Payroll-Challenge</title>
  </head>
  <body>
    <!--{% if messages %}
      {% for message in messages %}
        <div>
          <strong>{{message|safe}}</strong>
        </div>
      {% endfor %}
    {% else %}
    {{order}}
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1">Upload a Work Schedule</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
      </form>
    {% endif %}
  -->
    <p>Report {{reportid}} has been uploaded before. The upload just now was unsuccessful!</p>
    <p>Go back to main page</p>
    <button onclick="window.location.href='workschedule_upload.html';">Main Page</button>

  </body>
</html>
