<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Payroll-Display</title>
    <style media="screen">
      table, th, td{
        border: 1px solid black;
      }
    </style>
  </head>
  <body>

    <h1>Payroll List</h1>

    <br><br>

    <button onclick="window.location.href='workschedule_upload.html';">Main Page</button>

    <br><br>

    <h3>Payroll Table:</h3>
    <table style="width:100%">
      <tr>
        <th>Employee ID</th>
        <th>Pay Period</th>
        <th>Amount Paid</th>
      </tr>
      {% for row in payrolllist %}
      <tr>
        <td>{{row.employeeid}}</td>
        <td>{{row.payperiod}}</td>
        <td>{{row.amountpaid}}</td>
      </tr>
      {% endfor %}
    </table>

  <!--
    <h3>Database Table:</h3>
    <table style="width:100%">
      <tr>
        <th>Date</th>
        <th>Hours Worked</th>
        <th>Employee ID</th>
        <th>Job Group</th>
      </tr>
      {% for workschedule in workschedules %}
      <tr>
        <td>{{workschedule.date}}</td>
        <td>{{workschedule.hoursworked}}</td>
        <td>{{workschedule.employeeid}}</td>
        <td>{{workschedule.jobgroup}}</td>
      </tr>
      {% endfor %}
    </table>




    <p>All Employees: {{employeeID}}</p>
    <p>All years: {{years}}</p>
    <p>All payment: {{payment}}</p>
    <p>Testing: {{answer}}</p>
  -->
  
  </body>
</html>
